<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') -%>
    </head>
    <body>
    <header>
        <%- include('./partials/header') -%>
    </header>
    <div class="page-title">
        <h1>login page:</h1>
        <form action="/login" method="post">
            <label>input your name</label>
            <input type="text" name="name" placeholder="eg. john doe">
            <button type="submit">login</button>
        </form>
        
    </div>
    <h4>Count <%= count %></h4>
    </body>
    <%- include('./partials/footer') -%>
</html>