<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') -%>
</head>
<body>
    <header>
        <%- include('./partials/header') -%>
    </header>
    <h1>Change Picture</h1>
        <form action="/students/<%= id %>/picture" method="POST" ref='uploadForm' encType="multipart/form-data">
        <input type="file" id="img" name="img">
        <button type="submit">Add me in!</button>
        </form>
</body>
<%- include('./partials/footer') -%>
</html>